@font-face {
  font-family: "Asap-Bold";
  src: url("../fonts/Asap/Asap-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Italic";
  src: url("../fonts/Asap/Asap-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Medium";
  src: url("../fonts/Asap/Asap-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Regular";
  src: url("../fonts/Asap/Asap-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nirmala";
  src: url("../fonts/Nirmala_UI/Nirmala.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.text-center {
  text-align: center;
}

.absolute { position: absolute; }

.header-absolute {
  top: 35px;
  width: 100%;
}

.row{
  max-width: 1170px;
  margin: auto;
  box-sizing: border-box;
}

.space,
.menu-space {
  display: flex;
  justify-content: space-between;
}

.menu-space {
  flex-direction: row;
}

.head-logo-font {
  font: 14px/1 "Lato-Light", "Helvetica", sans-serif;
  color: #000;
}

.large-logo-font{
  display: block;
  margin-bottom: -5px;
}

.less-logo-font {
  font-size: 4px;
}

.menu {
  width: 460px;
  font: 16px/1 "Asap-Regular", "Helvetica", sans-serif;
  text-transform: uppercase;
}

a:visited,
a:link,
a:active {
  color: #4d4d4d;
  text-decoration: none;
}

.anchors:hover {
  border-bottom: 2px solid #4d4d4d;
  text-transform: capitalize;
}

/**/

.home-bg{
  background: repeating-linear-gradient(
    135deg,
    #e2e2e2,
    #e2e2e2 150px,
    #dedede 150px,
    #dedede 350px
  );
}

.home-left{
  margin-top: 260px;
}

.home-right {
  margin-top: 110px;
}

.largest-header {
  font: 90px/1 "Asap-Medium", "Helvetica", sans-serif;
  color: #4d4d4d;
}

.home-text {
  font: 22px/3 "Asap-Medium", "Helvetica", sans-serif;
  opacity: 0.54;
  color: #4d4d4d;
}

/*global*/
.btn{
  background-color: transparent;
  border: 1px solid #4d4d4d;
  font: 16px/3 "Asap-Medium", "Helvetica", sans-serif;
  margin-top: 30px;
  cursor: pointer;
  color: #4d4d4d;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0 0 35px 10px #ccc;
  border: 1px solid #fff;
  transition: .5s ease;
}
/**/

.home-btn {
  width: 160px;
  margin: 20px 10px;
}

.down-arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin: 130px 0 0 10px;
}

/**/

.about-left {
  margin-top: 175px;
  white-space: pre-line;
}

.about-right {
  margin: 100px 0 125px;
}

.headers {
  position: relative;
  margin-bottom: 55px;
  opacity: .8;
  color: #4d4d4d;
  font: 46px/1 "Asap-Bold", "Helvetica", sans-serif;
  letter-spacing: 5.5px;
}

.headers:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    top: -20px;
    right: 48%;
    border-bottom: 4px solid #717171;
}

.header-about {
  margin-bottom: 0;
}

.header-about:before {
  left: 0;
}

.about-text {
  color: #4d4d4d;
  font: 16px/1.5 "Asap-Regular", "Helvetica", sans-serif;
}

.download-btn,
.load-more-btn {
  padding: 0 50px;
}

/**/

.service {
  background-color: #f6f6f6;
  padding: 120px 0;
}

.service-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  white-space: pre-line;
}

.inl-block {
  display: inline-block;
}

.service-icon {
  padding: 0 150px;
}

.figure-text {
  margin-top: 15px;
  color: #4d4d4d;
  font: 24px "Asap-Medium", "Helvetica", sans-serif;
}

/**/

.my-skills {
  padding: 140px 0 125px;
}

.graph {
  position: relative;
}

.diagram {
  display: flex;
  margin-bottom: 15px;
}

.percents {
  position: relative;
  bottom: 24px;
}

.percent {
  color: #4d4d4d;
  font: 15px/4 "Asap-Regular", "Helvetica", sans-serif;
}

.xd-logo,
.ae-logo,
.ps-logo,
.ai-logo {
  bottom: -25px;
}

.xd-logo {
  left: 155px;
}

.ae-logo {
  left: 380px;
}

.ps-logo {
  left: 610px;
}

.ai-logo {
  left: 815px;
}

/**/

.portfolio {
  background-color: #f6f6f6;
  padding: 150px 0 125px;
}

.img-portfolio {
  margin: 10px;
  position: relative;
}

.img-portfolio:hover {
  box-shadow: 0 0 35px 10px #ccc;
  transition: .5s ease;
}

.img-portfolio:hover .tiny {
  opacity: 1;
  visibility: visible;
  transition: .5s ease;
}

.tiny {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  top: 140px;
  left: 155px;
  opacity: 0;
  transition: .5s ease;
  visibility: hidden;
  background: #fff;
  line-height: 3.5;
}

.first-in-row {
  margin-left: 0;
}

.last-in-row {
  margin-right: 0;
}

/**/

.testimonial {
  padding: 150px 0 120px;
}

.comment-block {
  max-width: 955px;
  margin: auto;
  border: 1px solid #212121;
}

.comment {
  text-align: start;
  padding-right: 75px;
}

.avatar {
  padding: 85px 30px 50px 120px;
}

.rectangles {
  padding-bottom: 40px;
}

.rectangle {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
}

.avatar-name {
  color: #212121;
  font: 30px/1.5 "Asap-Medium", "Helvetica", sans-serif;
}

.post {
  color: #212121;
  font: 12px/1 "Asap-Italic", "Helvetica", sans-serif;
}

.comment-text {
  padding-top: 20px;
  opacity: 0.6;
  color: #212121;
  font: 16px/1.5 "Asap-Regular", "Helvetica", sans-serif;
  text-transform: uppercase;
  white-space: pre-line;
}

/**/

.funfast {
  max-height: 300px;
  background-color: #f6f6f6;
}

.fast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  white-space: pre-line;
}

.funfast-img {
    height: 100px;
    object-fit: cover;
}

.funfast-bold-text {
  font: 30px "Asap-Medium", "Helvetica", sans-serif;
  color: #212121;
}

.funfast-text {
  color: #212121;
  font: 22px/1.5 "Asap-Regular", "Helvetica", sans-serif;
  text-transform: uppercase;
}

/**/

.contact {
  margin-top: 155px;
  padding: 170px 0 140px;
  background-image: url("../img/contact_bg.png");
  background-size: cover;
  margin-bottom: -65px;
}

.contact-head {
  color: #fff;
}

.contact-head:before {
  border-color: #c1c1c1;
}

.list-input {
  max-width: 770px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fields::-webkit-input-placeholder {
  font: 16px/4 "Asap-Regular", "Helvetica", sans-serif;
  color: #212121;
  opacity: 0.8;
}

.fields::-moz-placeholder {
  font: 16px/4 "Asap-Regular", "Helvetica", sans-serif;
  color: #212121;
  opacity: 0.8;
}

.fields:-moz-placeholder  {
  font: 16px/4 "Asap-Regular", "Helvetica", sans-serif;
  color: #212121;
  opacity: 0.8;
}

.fields:-ms-input-placeholder {
  font: 16px/4 "Asap-Regular", "Helvetica", sans-serif;
  color: #212121;
  opacity: 0.8;
}

.fields {
  padding: 20px 10px;
  border: 1px solid #4d4d4d;
}

.name-field,
.email-field {
  width: 345px;
  margin-bottom: 30px;
}

.message-field {
  padding-top: 0;
  resize: none;
  width: 748px;
}

.arrow {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: flex-end;
}

.up-arrow {
  position: relative;
  right: -100px;
  bottom: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.submit {
  width: 100%;
}

.send {
  padding: 0 50px 0 30px;
  background: #fff url("../img/send-button.png") no-repeat center right;
  background-position-x: 75px;
  text-transform: uppercase;
}

/**/

.footer{
  position: relative;
  display: flex;
  border-top: 1px solid #fff;
}

.social-icons {
  position: absolute;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.social-icon-wrap {
  width: 27px;
  height: 27px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  line-height: 1.8;
}

.social-icon-wrap:hover {
  background-color: #0084b4;
}

.social-icon-wrap:hover .fab { color: #fff; }

.fab {
  color: #4d4d4d;
}

.footer-text {
  max-width: 300px;
  display: flex;
  margin: auto;
  color: #fff;
  font: 16px/4 "Montserrat-Regular", "Helvetica", sans-serif;
}

